<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="media">
      <% avatar_url = @user.avatar_url(256) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <p class="lead"><%= @user.email %></p>
        <p class="lead">joined: <%= @user.created_at.strftime("%m-%d-%Y") %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span>Items</span>
      <span class="badge badge-secondary badge-pill pull-right">
        <%= @user.items.count %>
      </span>
    </h4>
    <ul class="list-group mb-3">
      <%= render @user.items %>
    </ul>
    <% if @user == current_user %>
      <%= render partial: "items/form", locals: {user: current_user, item: @item }%>
    <% end %>
  </div>
</div>
